{% extends "base.html" %}
{% block title %} Ayuda {% endblock %}
{% block content %}
    <h1>Ayuda</h1>
    <div>
        <div>
            <h2>Información del estudiante</h2>
            <p>Jose Fernando Aguilar Sandoval</p>
            <p> </p>
            <p>Introducción a la Programación y Computación 2 </p>
        </div>
        <div>
            <h2>Documentación</h2>
            <p>Puedes encontrar la información del proyecto en Github.</p>
            <a href="https://github.com/josefer1807/IPC2_PROYECTO3_202210484">Ir a Github</a>
        </div>
    </div>
{% endblock %}